header h1 {
    text-align: center;
}

header {
    background-color: #2DA3AA;
    padding: 1px;
}

body {
    background-color: #91AACE;
    margin: 0px;
}

a {
    text-decoration: none;
}

.botão {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.botão a {
    background-color: #6C81CD;
    border-radius: 10%;
    color:black;
    font-weight: bold;
    font-size: 25px;
    padding: 22px;
}

h2, h6 {
    text-align: center;
    margin-top: 30px;
}

h6{
    font-size: 20px;
}

.img2 {
    display: flex;
    justify-content: center;
}

.listas {
    display: flex;
    margin: 20px;
}

.listas div {
    margin-left: 30px;
}